{% extends "base.html" %}

{% block title %}
ROUS Import
{% endblock %}

{% block navbar %}
<a class="nav-link fs-5" href="{% url 'home' %}">Home</a>
<a class="nav-link fs-5" href="{% url 'calendar' %}?geoloc={{ geoloc }}">Calendar</a>
<a class="nav-link fs-5" href="{% url 'ScheduleHelper' %}?geoloc={{ geoloc }}">Scheduler</a>
<a class="nav-link fs-5" href="{% url 'inventory' %}?geoloc={{ geoloc }}">Inventory</a>
<a class="nav-link fs-5 active" href="{% url 'fileupload' %}?geoloc={{ geoloc }}" class="current">Import</a>
{% endblock %}

{% block before %}
<div id="loadingSpinner" class="d-flex justify-content-center align-items-center visually-show loader visually-hidden">
    <div class="spinner-border text-primary" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
</div>
{% endblock %}

{% block main %}
<main class="fit-container min-vh-100 d-flex justify-content-center align-items-center">
    <form class="dropzone-box">
        <h2>Upload Excel file</h2>
        <p>Click to upload or drag and drop</p>
        <div class="dropzone-area">
            <div class="file-upload-icon">
                <i class="bi bi-cloud-upload" style="font-size: 4rem;"></i>
            </div>
            <label for="excel_file">
                <input type="file" id="excel_file" name="excel_file" accept=".xlsx, .xls">
            </label>
            <p class="file-info">No Files Selected</p>
        </div>
        <div class="dropzone-description">
            <span>
                Supported formats: xlsx, xls, ...
            </span>
            <span>
                Max file size: 25MB
            </span>
        </div>
        <div class="dropzone-actions">
            <div class="dropzone-help">
                <i class="bi bi-question-circle" style="font-size: 1.2rem;"></i>
                Help Center
            </div>
            <div class="action-buttons">
                <button type="reset">
                    Cancel
                </button>
                <button id="import_button" type="submit" onclick="postExcel()">
                    Import
                </button>
            </div>
        </div>
    </form>
</main>
{% endblock %}



{% load static %}
{% block scripts %}
<link rel="stylesheet" type="text/css" href="{% static 'css/fileupload.css' %}">
<script src="{% static 'js/fileupload.js' %}"></script>
<script src="{% static 'js/import.js' %}"></script>
{% endblock %}