{% extends "base.html" %}

{% block title %}
Add Location
{% endblock %}

{% block navbar %}
<a class="nav-link fs-5" href="{% url 'home' %}">Home</a>
{% endblock %}

{% block before %}
<div class="alert alert-warning alert-dismissible fade show" role="alert" id="validation-alert" style="display: none;">
    Please enter a valid location!
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endblock %}

{% block main %}
<main class="fit-container min-vh-100 d-flex justify-content-center align-items-center">
    <form action="{% url 'location-list' %}" method="post" class="needs-validation" novalidate>
        <div class="container d-flex justify-content-center align-items-center gap-3">
            <div class="form-floating">
                <input type="text" class="form-control" name="GeoLoc" placeholder="Enter location" id="location-input"
                    required>
                <label for="location-input">Enter location</label>
            </div>
            <button class="btn btn-lg btn-success" type="button" id="location-submit">Submit</button>
        </div>
    </form>
</main>
{% endblock %}

{% load static %}
{% block scripts %}
<script type="module" src="{% static 'js/validate.js' %}"></script>
{% endblock %}