{% extends "base.html" %}

{% block title %}
ROUS Schedular
{% endblock %}

{% block navbar %}
<a class="nav-link fs-5" href="{% url 'home' %}">Home</a>
<a class="nav-link fs-5" href="{% url 'calendar' %}?geoloc={{ geoloc }}">Calendar</a>
<a class="nav-link fs-5 active" href="{% url 'ScheduleHelper' %}?geoloc={{ geoloc }}" class="current">Scheduler</a>
<a class="nav-link fs-5" href="{% url 'inventory' %}?geoloc={{ geoloc }}">Inventory</a>
<a class="nav-link fs-5" href="{% url 'fileupload' %}?geoloc={{ geoloc }}">Import</a>
{% endblock %}

{% block before %}
<div id="loadingSpinner" class="d-flex justify-content-center align-items-center visually-show loader visually-hidden">
    <div class="spinner-border text-primary" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
</div>
{% endblock %}

{% block main %}
<main class="fit-container min-vh-100 d-flex justify-content-center align-items-center">
    <!-- First Table (Scheduler) -->
    <div class="table-wrapper d-flex overflow-auto outline">
        {% for item in resource_plane_data_list %}
        {% if item.plane_data.maintenances %}
        <!-- Each table wrapped inside a div for separate tables laid out in one line -->
        <div class="table-container me-3" style="width: 700px;"> <!-- Add margin-right for spacing -->
            <table class="table table-bordered table-hover-cell">
                <thead class="text-center">
                    <!-- TailNumber as a distinct section header -->
                    <tr class="">
                        <th scope="col" colspan="2" class="table-success">Tail Number: {{ item.resource.TailNumber }}
                        </th>
                    </tr>
                    <!-- Plane and Part Headers -->
                    <tr>
                        <th scope="col" class="table-warning">Plane</th>
                        <th scope="col" class="table-warning">Part</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        {% for maintenance in item.plane_data.maintenances %}
                        {% if maintenance.PlaneMaintenanceID %}
                        <td data-tailnumber="{{ item.resource.TailNumber }}"
                            data-resourceid="{{ item.resource.ResourceID }}" data-mds="{{ maintenance.MDS }}"
                            data-planeMaintenanceID="{{ maintenance.PlaneMaintenanceID }}" data-partMaintenanceID="0"
                            data-bs-toggle="modal" data-bs-target="#exampleModal">
                            <strong>Tail Number:</strong> {{ item.resource.TailNumber }}<br>
                            <strong>Current Time:</strong> {{ maintenance.CrntTime }}<br>
                            <strong>Time Remaining:</strong> {{ maintenance.TimeRemain }}<br>
                            <strong>Due Time:</strong> {{ maintenance.DueTime }}<br>
                            <strong>Frequency:</strong> {{ maintenance.Freq }}<br>
                            <strong>Type:</strong> {{ maintenance.Type }}<br>
                            <strong>Justification:</strong> {{ maintenance.JST }}<br>
                            <strong>Time Frame:</strong> {{ maintenance.TFrame }}<br>
                            <strong>Engine(E)/Flight(F):</strong> {{ maintenance.E_F }}<br>
                        </td>
                        {% endif %}

                        {% if maintenance.PartMaintenanceID %}
                        <td data-tailnumber="{{ item.resource.TailNumber }}"
                            data-resourceid="{{ item.resource.ResourceID }}" data-mds="{{ maintenance.MDS }}"
                            data-planeMaintenanceID="0" data-partMaintenanceID="{{ maintenance.PartMaintenanceID }}"
                            data-bs-toggle="modal" data-bs-target="#exampleModal">
                            <strong>Tail Number:</strong> {{ item.resource.TailNumber }}<br>
                            <strong>Current Time:</strong> {{ maintenance.CrntTime }}<br>
                            <strong>Equipment ID:</strong> {{ maintenance.EQP_ID }}<br>
                            <strong>Part Serial Number:</strong> {{ maintenance.PartSN }}<br>
                            <strong>Part Number:</strong> {{ maintenance.PartNum }}<br>
                            <strong>WUC/LCN:</strong> {{ maintenance.WUC_LCN }}<br>
                            <strong>Time Remaining:</strong> {{ maintenance.TimeRemain }}<br>
                            <strong>Due Time:</strong> {{ maintenance.DueTime }}<br>
                            <strong>Frequency:</strong> {{ maintenance.Freq }}<br>
                            <strong>Type:</strong> {{ maintenance.Type }}<br>
                            <strong>Justification:</strong> {{ maintenance.JST }}<br>
                            <strong>Time Frame:</strong> {{ maintenance.TFrame }}<br>
                            <strong>Engine(E)/Flight(F):</strong> {{ maintenance.E_F }}<br>
                        </td>
                        {% endif %}
                        {% endfor %}
                    </tr>
                </tbody>
            </table>
        </div>
        {% endif %}
        {% endfor %}
    </div>
</main>

<!-- Modal Structure -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Add To Calendar</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container mb-3">
                    <i class="bi bi-info-circle required"> An asterisk indicates a required
                        field</i>
                </div>
                <form id="myForm" class="add-needs-validation" novalidate>
                    {% csrf_token %}
                    <div class="container">
                        <div>
                            <label for="title" class="form-label required">Title</label>
                            <input type="text" class="form-control" placeholder="A0039 Component Repair"
                                aria-label="title" name="title" id="title" required>
                        </div>
                        <div>
                            <label for="start" class="form-label required">Start
                                Date</label>
                            <input class="form-control" type="date" name="start" aria-label="" required>
                        </div>
                        <div>
                            <label for="end" class="form-label required">End
                                Date</label>
                            <input class="form-control" type="date" name="end" aria-label="" required>
                        </div>
                        <div>
                            <label for="" class="form-label required">Julian
                                Date</label>
                            <input type="text" class="form-control" placeholder="24267" aria-label="" name="JulianDate"
                                required>
                        </div>
                        <div>
                            <label for="" class="form-label required">Engine
                                Hours</label>
                            <input type="text" class="form-control" placeholder="2" aria-label="" name="EHours"
                                required>
                            <div class="form-text">
                                Engine Hours are limited to ensure optimal
                                condition for each aircraft.
                            </div>
                        </div>
                        <div>
                            <label for="" class="form-label required">Flight
                                Hours</label>
                            <input type="text" class="form-control" placeholder="3" aria-label="" name="FHours"
                                required>
                            <div class="form-text">
                                Flight Hours are limited to ensure optimal
                                condition for each aircraft.
                            </div>
                        </div>
                        <input type="hidden" name="GeoLoc" value="{{ geoloc }}">
                        <input type="hidden" id="tailNumberInput" name="TailNumber" value="">
                        <input type="hidden" id="resourceIdInput" name="ResourceID" value="">
                        <input type="hidden" id="mdsInput" name="MDS" value="">
                        <input type="hidden" id="planMId" name="PlaneMaintenanceID" value="">
                        <input type="hidden" id="partMId" name="PartMaintenanceID" value="">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-success" id="calSubmit">Submit</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% load static %}
{% block scripts %}
<script src="{% static 'js/scheduler.js' %}"></script>
{% endblock %}